.navbar-nav {
    width: 100%;
    text-align: center;
 
}
.navbar-nav>li {
    float: initial;
  line-height: 150px;
}
.nav>li {
    display:inline-block;
}
div#error2 {
    height: 20px;
    width: 20px;
}
